@import "tailwindcss";

@theme {
--animate-fade: fadeRight 0.5s ease-out;

  @keyframes fadeRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }}
}

:root {
  font-family: Poppi,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffda67;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
}

.fade-text span {
  opacity: 0;
  animation: fadeIn 0.8s forwards;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Apply delay to each letter */
.fade-text span:nth-child(1) { animation-delay: 0s; }
.fade-text span:nth-child(2) { animation-delay: 0.2s; }
.fade-text span:nth-child(3) { animation-delay: 0.4s; }
.fade-text span:nth-child(4) { animation-delay: 0.6s; }
.fade-text span:nth-child(5) { animation-delay: 0.8s; }




.dynamic-texts li{
  animation: slidein 6s steps(2) infinite;
}

@keyframes slidein {
  100% {
    transform: translateY(-112px);
  }
}

/*@media only screen and (min-width: 1024px) {*/


/*}*/

.dynamic-texts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffda67;
  border-left: 5px solid black;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 10px);
  }
  100%{
    left: 0;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

.waveBox span {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border-top: 1px solid black;
  opacity: 0.5;
}
.waveRunOne span {
  animation: waveRun1 linear infinite 2s;
}
.waveRunTwo span {
  animation: waveRun2 linear infinite 2s;
}
.waveRunFour span {
  animation: waveRun4 linear infinite 2s;
}

@keyframes waveRun1 {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}
@keyframes waveRun2 {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes waveRun4 {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-4rem);
    opacity: 0;
  }
}

.waveBox span:nth-child(1) { animation-delay: 0s; }
.waveBox span:nth-child(2) { animation-delay: 0.5s; }
.waveBox span:nth-child(3) { animation-delay: 1s; }
.waveBox span:nth-child(4) { animation-delay: 1.5s; }

.slick-dots .slick-active {
  background-color:#212529;
  height: 5px;

}
.slick-dots li button {
display: none;
}
.slick-arrow {
  position: absolute;
  bottom: -70px;
  right: 20px;
}
.slick-prev {
 right:90px ;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



